/*font-family: 'Lobster', cursive;
font-family: 'PT Sans', sans-serif;*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.none {
  display: none;
}

/* header */

.header {
  position: relative;
  height: 800px;
  padding-top: 50px;
  background-color: #265847;
  background-image: url("./../img/header-br.jpg");
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  color: #fff;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1170px;
}
.logo {
  font-family: "Lobster", cursive;

  font-weight: normal;
  font-size: 40px;
  color: #fff;
}
.header-nav {
  font-style: 22px;
  color: #fff;
}
.header-nav-list {
  display: flex;
}
.header-nav-list-item {
  margin-right: 50px;
}

.header-nav-list-item:last-item {
  margin-right: 0;
}

.header-nav-link {
  color: #fff;
  text-decoration: none;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*на 3й минуте*/
  text-align: center;
  width: 1170px;
}
.header-title {
  font-weight: bold;
  font-size: 60px;

  color: #fff;
}

.header-content p {
  font-size: 24px;
  color: #fff;
}

.header-scroll {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  /* width: 85px; */
  /* height: 55px; */
  padding-bottom: 34px;

  font-size: 16px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.header-scroll::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/arrow-down.svg");
}

/* main */

.main {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  margin: 0 auto;
  width: 1170px;
}
.main-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.main-row:last-child {
  margin-bottom: 0;
}

.main-row:nth-child(even) {
  flex-direction: row-reverse;
}

/* .main-row-reverse{
    flex-direction: row-reverse;

} */

.main-content {
  width: 470px;
}

.header-2 {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 54px;
  color: #314058;
}

.main-content-text {
  margin-bottom: 40px;
  font-style: 20px;
  line-height: 1.6;
  color: #314058;
}

.main-content-text a {
  color: #138ece;
}

.main-content-text p {
  margin-top: 0;
  margin-bottom: 15px;
}

.button {
  display: inline-block;
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  background: #0ac883;
  box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
  border-radius: 50px;

  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.main-img {
  width: 570px;
}
